:root {
  --md-primary-light: #0b57d0;
  --md-secondary-light: #d3e3fd;
  --md-tertiary-light: #edf2fa;
  --md-neutral-light: #ffffff;
  --md-text-light: #1f1f1f;

  --md-primary-dark: #a8c7fa;
  --md-secondary-dark: #004a77;
  --md-tertiary-dark: #282828;
  --md-neutral-dark: #3c3c3c;
  --md-text-dark: #e3e3e3;

  --color-primary: var(--md-primary-light);
  --color-secondary: var(--md-secondary-light);
  --color-tertiary: var(--md-tertiary-light);
  --color-neutral: var(--md-neutral-light);
  --color-text: var(--md-text-light);

  --font-family: 'Google Sans', sans-serif;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-full: 50rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--md-primary-dark);
    --color-secondary: var(--md-secondary-dark);
    --color-tertiary: var(--md-tertiary-dark);
    --color-neutral: var(--md-neutral-dark);
    --color-text: var(--md-text-dark);
  }
}

html[data-theme='dark'] {
  --color-primary: var(--md-primary-dark);
  --color-secondary: var(--md-secondary-dark);
  --color-tertiary: var(--md-tertiary-dark);
  --color-neutral: var(--md-neutral-dark);
  --color-text: var(--md-text-dark);
}

html[data-theme='light'] {
  --color-primary: var(--md-primary-light);
  --color-secondary: var(--md-secondary-light);
  --color-tertiary: var(--md-tertiary-light);
  --color-neutral: var(--md-neutral-light);
  --color-text: var(--md-text-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-neutral);
  color: var(--color-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  flex-grow: 1;
}
